.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px auto;
    margin-top: 70px;
    max-width: 70%;

}

.video-text {
    color: #262626;
}