.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 70%;

}

.video-text {
    color: #262626;
}

.card-profile-avatar {
    width: 400px;
    margin-left: 230px;
    margin-top: 5%;
}